body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
}
#container {
  background-color: #fff;
  width: 760px;
  margin: 50px auto;
  padding: 15px 20px;
}
/* TYPO */
h2 {
  text-transform: uppercase;
  font-size: 24px;
  color: #777;
  text-align: center;
}
h3 {
  font-size: 20px;
  font-weight: bold;
}
a {
  color: #ed1243;
  /*color: inherit;*/
  text-decoration: none;
}
a:hover {
  /*text-decoration: underline;*/
  /* On peut toujours rester créatif ! */
  border-bottom: 1px solid #ed1243;
}

/* images */
img {
  /* Les images sont des contenus inline */
  /* Pour la centrer sans mettre de "text-align" sur le parent, je peux lui demander de se comporter comme un block */
  display: block;
  /* centrer un élément dans son parent (l'élément à centrer doit être moins large que le parent) */
  margin: auto;
}

/* Selecteur enfant */
/* 
    Pour être plus précis, on peut donner plusieurs critères au sélecteur
    L'exemple ci dessous va chercher l'élément html avec l'id "main" et à l'intérieur 
    de cet élément, il va chercher toutes les balises img.
    
    */
#main img {
  width: 100%;
  border-radius: 20px;
  border: 1px solid black;
}

/* HEADER */

/* On utilise l'héritage */
#presentation {
  text-align: center;
}

/* Fusion de marge */
#presentation h1 {
  color: black;
  margin: 15px 0 10px;
  /* 300% de mon parent = taille navigateur puisque les parents n'ont pas défini de taille */
  font-size: 3em;
}

section h2 {
  color: #777;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;

  /* Bordure */
  border-bottom: 3px solid #ccc;
  /*border-width: 3px;
        border-style: solid;
        border-color: #ccc;*/
}
nav {
  margin: 10px;
  padding: 10px;
  background-color: #eee;
}
ul {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}
li a {
  margin: 10px;
  color: red;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid red;
}
#main p {
  margin: 16px 0;
  line-height: 1.4;
  text-align: justify;
}

/* Footer contact */
#contact {
  padding: 12px 24px;
  background: #ddd;
  font-size: 12px;
  margin: 50px -20px -15px -20px;
}

#contact p {
  width: 500px;
  margin: auto;
}
